body{
  font-family: Arial, sans-serif;
  background:url(".\thomas-kinto-6MsMKWzJWKc-unsplash[1].jpg") ;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.close-button {
  position: absolute;
  top: 100px;
  right:12px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* Ensure the entire page takes full height */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Flex container for layout */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

/* Main content will push the footer down */
.app-content {
  flex: 1;
  margin-top: 60px; /* Adjust this for spacing */
}

/* Footer should always stay at bottom */
.footer {
  background-color: #064663;
  color: white;
  padding: 40px 20px;
  text-align: center;
  width: 100%;
}

